body{
    margin: 10px 15px;
    padding: 0;
}
.waitServerWakeUp{
    display:flex;
    flex-direction:row;
    align-items:center;
    font-size: 1.2rem;
}
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
div.MuiDialog-root.MuiModal-root >
div.MuiDialog-container > div.MuiPaper-root{
    width: 100%;
    border-radius: 8px;
}
div.MuiDialog-root.MuiModal-root >
div.MuiDialog-container > div.MuiPaper-root > div.MuiDialogContent-root{
    width: calc(100% - 48px);
}
div.MuiDialog-root.MuiModal-root >
div.MuiDialog-container > div.MuiPaper-root > div.MuiDialogActions-root{
    justify-content: space-between;
}
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
table.MuiTable-root{
    min-width: 100px;
}
table.MuiTable-root > tbody > tr > td:nth-child(1){
    width: 30px;
    text-align: center;
    padding: 1px 1px 1px 1px;
}
table.MuiTable-root > tbody > tr > td:nth-child(2){
    text-align: left;
    padding: 1px 1px 1px 1px;
}
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
button.MuiButton-colorSuccess{
    background-color: #2da333;
}
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
table.readyToPassTest{
    width: 100%;
    min-width: 10px;
}
table.readyToPassTest > tbody > tr > td > span.MuiCheckbox-root{
    padding: 0;
}
table.readyToPassTest.MuiTable-root > tbody > tr > td:nth-child(1){
    width: 30px;
    text-align: center;
    padding: 5px 10px 5px 10px;
}
table.readyToPassTest.MuiTable-root > tbody > tr > td:nth-child(2){
    text-align: left;
    padding: 5px;
}
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
table.testResults{
    width: 100%;
    min-width: 100px;
}
table.testResults th{
    padding: 10px 10px;
    line-height: 1.3rem;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
}
table.MuiTable-root.testResults > thead > tr > th:nth-child(2),
table.MuiTable-root.testResults > thead > tr > th:nth-child(4){
    text-align: center;
}
table.testResults td{
    font-size: 0.9em;
    padding: 5px;
    text-align: left;
}
table.MuiTable-root.testResults > tbody > tr > td:nth-child(1){
    width: 1em;
}
table.MuiTable-root.testResults > tbody > tr > td:nth-child(2){
    width: 2em;
    text-align: center;
}
table.MuiTable-root.testResults > tbody > tr > td:nth-child(3){
    width: 100%;
    padding: 5px 10px;
}
table.MuiTable-root.testResults > tbody > tr > td:nth-child(4){
    width: 50px;
    padding: 1px 1px;
    text-align: center;
}
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
div.modalTestResult.MuiDialog-root.MuiModal-root >
div.MuiDialog-container > div.MuiPaper-root{
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 0;
    border-radius: 10px;
}
div.modalTestResult.MuiDialog-root.MuiModal-root >
div.MuiDialog-container > div.MuiPaper-root > h2.MuiDialogTitle-root{
    border-bottom: 1px solid gray;
    padding: 5px 10px 5px 20px;
}
div.modalTestResult.MuiDialog-root.MuiModal-root >
div.MuiDialog-container > div.MuiPaper-root > div.MuiDialogContent-root{
    width: calc(100% - 48px);
    padding: 10px 10px 10px 20px;
    gap: 5px;
    font-size: 18px;
}
div.modalTestResult.MuiDialog-root.MuiModal-root >
div.MuiDialog-container > div.MuiPaper-root > div.MuiDialogActions-root{
    justify-content: space-between;
    border-top: 1px solid gray;
}
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
table.testResultAnswers > tbody> tr > td.answerRowHeader{
    background-color: rgb(238, 238, 238);
    border-top: 1px solid rgba(224, 224, 224, 1);
    padding: 5px 10px;
    text-align: left;
}
table.testResultAnswers > tbody> tr > td:nth-child(2){
    text-align: left;
}
table.testResultAnswers > tbody> tr > td:nth-child(3),
table.testResultAnswers > tbody> tr > td:nth-child(4){
    text-align: center;
    word-break: normal;
}
table .correctAnswerRow{ 
    background-color: rgb(178, 235, 178);
}
table .inCorrectAnswerRow{ 
    background-color: rgb(255, 158, 158);
}
table.testResultAnswers > tbody > tr > td.answerRow{
    padding: 5px 10px;
}
table.testResultAnswers > tbody > tr > td.answerRow > span.MuiCheckbox-root{
    padding: 0px;
}
/*-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------*/
@media (min-width: 1px) and (max-width: 599px){
    table.testResults th {
        padding: 3px;
        font-size: 1rem;
    }
    table.testResults td {
        word-break: break-word;
    }

    table.MuiTable-root.testResults > thead > tr > th:nth-child(2){
        padding: 0;
    }
    table.MuiTable-root.testResults > thead > tr > th:nth-child(3){
        text-align: center;
    }
    table.MuiTable-root.testResults > tbody > tr > td:nth-child(3) {
        padding: 3px;
    }
    table.testResultAnswers > tbody> tr > td{
        padding: 3px !important;
        line-height: 1 !important;
    }

    div.modalTestResult.MuiDialog-root.MuiModal-root > div.MuiDialog-container > 
    div.MuiPaper-root > div.MuiDialogContent-root {
        width: calc(100% - 20px);
        padding: 10px 10px 10px 10px;
        gap: 2px;
        font-size: 16px;
    }
    div.modalTestResult.MuiDialog-root.MuiModal-root > div.MuiDialog-container > 
    div.MuiPaper-root > div.MuiDialogContent-root > div {
        word-break: break-word;
    }

}
@media (min-width: 600px) {

}